* {
  margin: 0px;
  padding: 0px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#todo-list-title {
  font-size: 4vh;
  font-weight: 800;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 6px;
}
.input-container {
}
#input-task-name {
  font-size: 3.5vh;
  margin: 5px;
  border-radius: 3px;
}
#input-task-description {
  font-size: 3.5vh;
  margin: 5px;
  border-radius: 3px;
}
#add-task-button {
  position: fixed;
  margin: 6px;
  border: none;
  background-color: rgb(75, 47, 255);
  border-radius: 5px;
  max-width: 21vh;
  padding: 3px;
  height: 4vh;

  cursor: pointer;
}
.container {
  display: flex;
  border: blue solid 3px;

  min-height: 30px;
}

.task-container {
  width: 100%;
  max-height: 300px;
  margin: 5px;
  /* background-color: rgba(2, 146, 151, 0.068); */
  border: rgba(45, 45, 78, 0.13) solid 1px;
  border-radius: 5px;
}
.task-name {
  font-size: 25px;
  color: rgb(18, 44, 131);
  left: 30px;
}

.task-description {
  font-size: 20px;
  opacity: 80%;
  margin-right: 300px;
}
.done {
  color: green;
}
.task-button {
  right: 300px;
  border: none;
  background-color: rgb(75, 47, 255);
  border-radius: 5px;
  width: 10vh;
  height: 4vh;
  cursor: pointer;
}
