* {
  margin: 0px;
  padding: 0px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#todo-list-title {
  font-size: 4vw;
  font-weight: 800;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 1%;
}
.input-container {
  display: flex;
  width: 45vw;
  height: 4.5vw;
}
#input-task-name {
  font-size: 50%;
  margin: 5px;
  border-radius: 3px;
}
#input-task-description {
  font-size: 50%;
  margin: 5px;
  border-radius: 3px;
}
.add-task-button {
  margin: 1%;
  border: none;
  background-color: rgb(75, 47, 255);
  border-radius: 5px;
  max-width: 100%;
  padding: 3px;
  height: 60%;
  vertical-align: bottom;
  width: 100vh;
  cursor: pointer;
}
.container {
  display: flex;
  border: rgba(0, 0, 255, 0.295) double 3px;
  width: 97%;
  border-radius: 12px;

  min-height: 30px;
}

.task-container {
  width: 100%;
  max-height: 300vh;
  margin: 5px;
  /* background-color: rgba(2, 146, 151, 0.068); */
  border: rgba(45, 45, 78, 0.13) solid 1px;
  border-radius: 5px;
}
.task-container.deleted {
  background-color: rgba(255, 0, 0, 0.103);
}
.history.history {
  display: none;
}
.task-name {
  /* font-size: 6vw; */
  color: currentColor;
  left: 30px;
}

.task-description {
  /* font-size: 5vw; */
  opacity: 75%;
  margin-right: 300px;
}
.done {
  color: green;
}
.task-button {
  right: 300px;
  border: none;
  font-size: 2vw;
  background-color: rgb(75, 47, 255);
  border-radius: 5px;
  width: 10vw;
  max-height: 4.5vh;

  cursor: pointer;
}
.setting-img {
  width: 7vw;
  position: absolute;
  cursor: pointer;
  right: 2vw;
  transition-duration: 0.2s;
  border: white solid 1px;
  border-radius: 500px;
  background-color: white;
}

.setting-img:hover {
  transform: rotate(-120deg);
}
.task-important {
  width: 7vw;
  margin-bottom: 0;
  display: hidden;
}
/*---Themes---*/
/*-dark-*/
.dark {
  background-color: rgb(0, 0, 29);
  color: white;
  font-size: 250%;
}
/*-white-*/
.white {
  background-color: white;
  color: black;
  font-size: 250%;
}
/*-blue-*/
.blue {
  background-color: rgb(115, 115, 255);
  color: rgb(0, 37, 48);
  font-size: 250%;
}

/*-coffe-*/
.coffe {
  background: linear-gradient(to left, rgb(141, 105, 6), rgb(87, 77, 32));
  font-size: 250%;
  color: rgb(24, 20, 17);
}
.coffe .btn {
  background-color: rgb(165, 124, 70);
}

/*-red-gradient-*/
.red-gradient {
  background: linear-gradient(to left, rgb(141, 105, 6), rgba(255, 0, 0, 1));
  font-size: 250%;
}
.red-gradient .btn {
  background-color: rgb(240, 224, 5);
}

/*------------*/
#property-block {
  display: none;
  position: absolute;
  background-color: rgb(172, 172, 184);
  border-radius: 10px;
  right: 1vw;
  top: 21vh;
  width: 20vw;
}
#property-block.show-property {
  display: block;
  max-width: 230vh;
}
.control-container {
  display: inline;
}
.task-time {
  vertical-align: text-bottom;
  display: inline;
  font-size: 60%;
  margin-left: 25vh;
}
