* {
  margin: 0px;
  padding: 0px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.container {
  display: flex;
  border: blue solid 3px;

  min-height: 30px;
}

.task-container {
  margin: 5px;
  display: flex;
  border: black solid 3px;
}
.task-name {
  font-size: 25px;
  color: red;
  left: 30px;
}

.task-description {
  font-size: 20px;
  opacity: 80%;
  margin-left: 300px;
}
